.top-buffer10{
    margin-top: 10px
}

.top-buffer20{
    margin-top: 20px
}

.top-buffer30{
    margin-top: 30px
}

.top-buffer40{
    margin-top: 40px
}

.top-buffer50{
    margin-top: 50px
}